{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Images{% endblock %}</h1>
  {% if g.user %}
    <form method="POST">
      <input type="text" name="query" placeholder="Search...">
      <button type="submit">Search</button>
      <select id="sort" name="sort">
        <option value="file_size" {% if sort_type=='file_size' %}selected{% endif %}> Size </option>
        <option value="file_name" {% if sort_type=='file_name' %}selected{% endif %}> Name </option>
        <option value="created"   {% if sort_type=='created'   %}selected{% endif %}> Date </option>
      </select>
      <select id="sort-order" name="sort-order">
        <option value="ASC"  {% if sort_order=='ASC'  %}selected{% endif %}> Ascending  </option>
        <option value="DESC" {% if sort_order=='DESC' %}selected{% endif %}> Descending </option>
      </select>
      <button type="submit">Sort</button>
    </form>
  {% endif %}
  {% if g.user %}
  <a class="action" href="{{ url_for('search.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% if query %}
    <h2>Search Results for "{{ query }}"</h2>
  {% endif %}
  {% for image in images%}
    <div class="image-grid">
      <img src="{{ url_for('search.send_uploaded_file', id=image['id']) }}" alt="image" class="image" width="400">
      <p>File Name: {{ image.file_name }}</p>
      <p>File Size: {{ image.file_size }}</p>
  
    </div>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
