{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ image['id'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    <label for="taken">Taken</label>
    <input name="taken" id="taken" type="date" value="{{ taken_rendered or request.form['taken'] }}" />

    <label for="image_file">Image</label>
    <input name="image_file" id="image_file" type="file" accept="image/jpeg, image/png">

    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('search.delete', id=image['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
